* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  color: #eee
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  border: 3px solid #934848;
  margin: 0 auto;
  /* align-items: center; */
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
    margin-bottom: 30px;
}

.top img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;  
  gap: 3px;
  background-color: transparent;
  cursor: pointer;  
  color: #b1b1b1;
}

.card .center{
  /* background-color: aqua; */

}
  
.center h3{
  font-size: 17px;
  font-weight: 600;
  color: #111;
}
.center h3 span{
  font-size: 9px;
  color: #111;
  font-weight: 400;
}

.center h2{
  font-size: 20px;
  color: #111;
  font-weight: 600;
}

.center .tag{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.center .tag h4{
  color: #111;
  background-color: #dadada;
  padding: 4px 8px;
  font-weight: 500px;
  border-radius: 3px;
  font-size: 10px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding: 10px 0px;
}

.bottom button{
  background-color: #111;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  /* column-width: 60px; */
}

.bottom h3{
  font-size: 17px;
  color: #111;
}

.bottom p{
  font-size: 12px;
  color: #555555;
}